*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    color: white;
    /* background: #081b29; */
    background: black;
}

.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 20px;
    padding-top: 30px;
    margin-bottom: 5px;
    /* filter: drop-shadow(2px 2px 4px rgb(129, 233, 233)); */
    border: 2px solid black;
     box-shadow: 0 2px 15px teal;
     /* margin-top: 30px; */
    
}

.sub-title span{
    color:teal;
    /* filter: drop-shadow(2px 5px 10px rgb(129, 233, 233)); */
}
section{
    display: flex;
    flex-wrap: wrap;
}
.container1{
    width: 600px;
    height: 500px;
    padding: 40px 90px;
    margin-left: 70px;
   
}
#icon{
    font-size: 35px;
    box-shadow: 0 0 10px teal;
}

.heading{
    text-align:center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness:5px;
    margin-bottom: 40px;
    filter: drop-shadow(2px 5px 10px rgb(129, 233, 233));
   
}
.bar{
    margin-top: 10px;
    font-size: 20px;
}
.technical-bars .bar{
    margin: 40px 0 0 0;
}

.technical-bars .bar:first-child{
    margin-top: 0;
}

.technical-bars .bar:last-child{
    margin-bottom: 0;
}

 .technical-bars .bar .info{ 
    margin-bottom:2pxpx;
}

.technical-bars  .bar .info .name{
    font-size: 17px;
    font-weight: 400;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.technical-bars .bar .progress-line  {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    margin-top: 10px;
    box-shadow:0 0 5px teal;
    background-color: black;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.technical-bars .bar .progress-line span{
    height: 100%;
    background-color: skyblue;
    position: absolute;
    border-radius: 10px;
    
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
    

}

.progress-line.html span{
    width: 90%;
}

.progress-line.css span{
    width: 75%;
}

.progress-line.javacsript span{
    width: 80%;
}

.progress-line.bootstrap span{
    width: 60%;
}

.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: black;
    color: white;
    box-shadow: 0 0 10px teal;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after{
   content:" 90%";
   
}

.progress-line.css span::after{
    content: "75%";
}

.progress-line.javacsript span::after{
    content: "80%";
}

.progress-line.bootstrap span::after{
    content:" 60%";
}

.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: black;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;

}

@keyframes showText{
    100%{
        opacity: 1;
    }
}




.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}


.radial-bars .radial-bar{


    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
   
   

}

.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)  rotate(-90deg);
   width: 120px;
   height: 160px;
    box-shadow:0 0 5px teal;

}

.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stroke: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
    box-shadow:0 5px 5px teal;
}
@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}

.path{
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    filter: drop-shadow(0 5px 10px rgb(129, 233, 233));

    
}

.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-2{animation: animate-path2 1s 1s linear forwards;}
.path-3{animation: animate-path3 1s 1s linear forwards;}
.path-4{animation: animate-path4 1s 1s linear forwards;}

@keyframes animate-path1{
    100%{
        stroke-dashoffset: 125;
    }
}

@keyframes animate-path2{
    100%{
        stroke-dashoffset: 175;
    }
}

@keyframes animate-path3{
    100%{
        stroke-dashoffset: 50;
    }
}

@keyframes animate-path4{
    100%{
        stroke-dashoffset: 175;
    }
}


.radial-bar .percentage{
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50% -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5 1s linear forwards;
    opacity: 0;
    filter: drop-shadow(2px 7px 10px rgb(53, 214, 214));
    
}

.radial-bar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
    filter: drop-shadow(0 5px 10px rgb(129, 233, 233));
    
}
.navbar{
    background-color:teal;
    width: 100vw;
    height: 50px;
   
    display: flex;
    flex-direction: row;
    align-items:flex-end;
   
   
   
   
}

.navbar a{
    text-decoration: none;
    font-family: 'fira sans',sans-serif;
    color: white;
   font-size: 20px;
    padding: 10px;
    margin: 10px;
   
    
   
}
.navbar a:hover{
    font-size: 22px;
    font-weight: bold;
    color: skyblue;
}

 








